# This workflow triggers the rebuilding of the Air Quality maps every 20 minutes
# This frequency is likely overkill because AirNow only updates the file once an hour
# But, redundancy here because of periodic delays in AirNow posting and periodic outages

on:
  schedule:
    - cron: '*/20 * * * *'
      # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

name: Air Quality data maps scrape reshape build

jobs:
  render:
    name: Gather latest air quality data
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2.6.4
      - name: Set up pandoc for Rmd docs
        uses: r-lib/actions/setup-pandoc@v2
      - name: Restore R packages cache
        uses: actions/cache@v2
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-${{ hashFiles('**/DESCRIPTION') }}
          restore-keys: ${{ runner.os }}-r-
      - name: Reshape data, make air quality maps
        run: Rscript scripts/airquality_scrape_build.R
      - name: Commit results
        run: |
          git add -A
          git commit -m 'New AQ data. Maps updated!' || echo "No changes"
          git push origin || echo "No changes to commit"
          
